'on':
  push:
    branches: 
     - "**"
  schedule:
    - cron: 0 14 * * *
name: broken links?
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Link Checker
        id: lc
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0
        with:
          args: --insecure --verbose --no-progress './**/*.md' './**/*.html'  --accept 200,204,206 --exclude '^http://npmjs\.org' --exclude '^http://www\.npmjs\.com'
      - name: Fail?
        run: 'exit ${{ steps.lc.outputs.exit_code }}'
